{% extends 'base.html.twig' %}
{% block body %}

<div id="crop_wrapper">
<form name="form1" runat="server" action="{{ path('uploadImage') }}" enctype="multipart/form-data">
    <input type="file" name="fileToUpload" id="fileToUpload">
    nuwan
    <img id="myImg" src="#" alt="your image">
    <input type="submit" name="submit" value="Ok">
    <div id="crop_div">
    </div>
</form>
</div>


<form method="post" action="{{ path('crop_result') }}" onsubmit="return crop();">
    <div>
        <br>
        <br>
    <input type="text" value="Post Title:" id="post_title" name="post_title">
        <br>
    <input type="text" value="Description" id="post_description" name="post_description">

    <input type="hidden" value="" id="top" name="top">
    <input type="hidden" value="" id="left" name="left">
    <input type="hidden" value="" id="right" name="right">
    <input type="hidden" value="" id="bottom" name="bottom">
        <br>
        <br>
        <br>
    <input type="submit" name="crop_image">
        </div>
</form>
{% endblock %}