{% extends "FOSUserBundle::layout.html.twig" %}



{% block fos_user_content %}
    <div class="register">
        <div class="container">
            <div class="register-top heading">
                <h2>REGISTER</h2>
            </div>
            <div class="register-main">
                <div class="col-md-6 account-left">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}

