{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}



    <div class="account">
        <div class="container">
            <div class="account-top heading">
                <h2>ACCOUNT</h2>
            </div>
            <div class="account-main">
                <div class="col-md-6 account-left">
                    <h3>Existing User</h3>
                    <div class="account-bottom">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input id="username" name="_username" placeholder="Email" type="text" tabindex="3" required="required">
                        <input id="password" name="_password" placeholder="Password" type="password" tabindex="4" required="required">
                        <div class="address">
                            <a class="forgot" href="#">Forgot Your Password?</a>
                            <input type="submit" value="Login" id="_submit" name="_submit">
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 account-right account-left">
                    <h3>New User? Create an Account</h3>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <a href="{{ path("fos_user_registration_register") }}" >Create an Account</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
