{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post creation</h1>

    {{ form_start(form) }}
    <h1 style="text-align: center">Create a New Post</h1>
    <div style="width: 50%; float: left">
        {{ form_widget(form) }}
        <br>
        <input type="submit" class="btn btn-success" value="Create" />
    </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('my_account') }}">Back to the Account</a>
        </li>
    </ul>
{% endblock %}
